.editLessonForm {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    margin: 20px 40px 60px 40px;
    padding: 20px 60px;
    font-family: 'Lato', sans-serif;
    color: #9C0D63;
    font-size: 18px;
}

.editLessonForm h1 {
    font-family: 'Quicksand', sans-serif;
    color: #9C0D63;
    display: flex;
    justify-content: center;
}

.editLessonForm .fileUpload {
    display: flex;
    place-items: center;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
    /* font-size: 16px; */
}

.editLessonForm input#file-upload {
    display: flex;
    flex-flow: column wrap;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 95%;
}

.editLessonForm input#file-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 12px;
}

div.selectedOptions {
    margin-left: 0px;
    padding-left: 0px;
}

.editLessonForm label {
    margin-bottom: 10px;
    /* gap: 10px; */
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

.editLessonForm input,
.editLessonForm textarea {
    margin-left: 0px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 95%
}

.editLessonForm textarea {
    height: 10vh
}

/* .selection {
    margin-left: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
} */

.editLessonFormButtons {
    display: flex;
    /* justify-content: center; */
    flex-flow: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.editLessonForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: #9C0D63;
    border-color: #9C0D63;
    color: white;
    font-size: medium;
    transition: transform 0.3 ease;
    border-radius: 3px;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.editLessonForm button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px gray;
}

p.errors {
    color: red;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    margin-left: 20px;
}

.existingLessonContent {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}

.existingLessonContent h4 {
    color: #9C0D63;
}

.existingLessonContent button {
    background-color: transparent;
    color: black;
    width: fit-content;
    margin-top: 0px;
}

.existingLessonContent img {
    width: 100%;
    height: 100%;
}

.selectedOptions {
    font-size: 18px;
    margin-left: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 100%;
}


@media only screen and (max-width: 450px) {

    .editLessonForm {
        margin: auto;
        padding: 5px;
        place-items: center;
    }

    .editLessonForm h1 {
        font-size: 18px;
    }

    label.selectedOptions {
        font-size: 12px;
        width: fit-content;
    }

    .editLessonForm label,
    .editLessonForm input,
    .editLessonForm textarea,
    .editLessonForm button {
        font-size: 16px;
        width: fit-content;
    }

    .fileUpload {
        flex-flow: column wrap;
    }
}
