.createAssignmentForm {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    margin: 40px 80px 60px 80px;
    padding: 20px 60px;
    font-family: 'Lato', sans-serif;
}

.createAssignmentForm label {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.createAssignmentForm input,
.createAssignmentForm textarea {
    margin-left: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.selection {
    margin-left: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 75%
}

.createLessonFormButtons {
    display: flex;
    /* justify-content: center; */
    flex-flow: column;
    align-items: center;
}

.createAssignmentForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #9C0D63;
    border-color: #9C0D63;
    color: white;
    font-size: medium;
    transition: transform 0.3 ease;
    border-radius: 3px;
    width: 25%
}

.createAssignmentForm button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px gray;
}

p.errors {
    color: red;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    margin-left: 20px;
}
