.assignmentDetailsContainer {
    padding-top: 40px;
}

.assignmentDetailsHeading img {
    height: auto;
    width: 8%;
    margin: 20px;
}

.assignmentDetailsHeading h2,
.assignmentDetailsHeading h3,
.assignmentDetailsHeading p,
.assignmentClassList {
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.assignmentTitle {
    display: flex;
    align-items: center;
}

.assignmentDetailsButtons {
    position: absolute;
    top: 10%;
    right: 5%;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column;

    gap: 12px;
    justify-content: center;
    align-items: flex-end;
}

.assignmentContent {
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.editAssignmentButton button {
    border: 2px solid #9C0D63;
    background-color: #9C0D63;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 40px;
}

.editAssignmentLink {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.editAssignmentButton button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}

.deleteAssignmentButton button {
    border: 2px solid #9C0D63;
    background-color: #9C0D63;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 40px;
}

.deleteAssignmentButton button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}
