.assignmentPDFViewerContainer {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.pdfDocument {
    width: 100%
}

.pdfPage {
    width: 100%;
}

.pageNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: column;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    /* place-items: center; */
}

.buttonContainer button {
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

.buttonContainer button:last-child {
    margin-right: 0;
    font-family: 'Lato', sans-serif;
}

/* Hide any underlying text content */
.assignmentPDFViewerContainer * {
    visibility: hidden;

}

/* Ensure the canvas rendering is visible */
.assignmentPDFViewerContainer canvas {
    visibility: visible;
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px auto;
    padding: 5px auto;
}
