.assignmentDetailsContainer {
    margin: 30px 20px 20px 20px;
}

.assignmentDetailsHeading img {
    height: 17%;
    width: 17%;
    margin: 20px;
}

.assignmentDetailsHeading {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* margin: 20px;
    font-family: 'Lato', sans-serif; */
}

.subHeading {
    /* margin: 10px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px
}

.assignmentDetailsHeading,
.assignmentDetails,
.assignmentClassList {
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.assignmentDetailsContent {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
}

.assignmentClassList {
    padding-left: 5px;
    margin-top: 10px;
}

p.assignmentDetailsLabel>span {
    font-weight: bold;
}

.assignmentTitle {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    margin-left: 10px;
}

.assignmentDetailsButtons {
    /* position: absolute; */
    /* top: 10%;
    right: 5%; */
    margin: 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: column wrap;

    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}

.assignmentContent {
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.editAssignmentButton button {
    border: 2px solid #9C0D63;
    background-color: #9C0D63;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 40px;
}

.editAssignmentLink {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.editAssignmentButton button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}

.deleteAssignmentButton button {
    border: 2px solid #9C0D63;
    background-color: #9C0D63;
    font-family: 'Lato', sans-serif;
    border-radius: 3px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    width: 160px;
    height: 40px;
}

.deleteAssignmentButton button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}

.classLink {
    text-decoration: none;
    color: black;
}

.classLink:hover {
    color: #9C0D63;
    font-weight: 700;
}

.imageViewer img {
    width: 100%;
    height: auto
}

/* .pdfViewer .assignmentPDFViewerContainer {
    width: 100%;
    height: auto;
} */

/* @media only screen and (max-width: 700px) {
    .imageViewer img {
        width: 75%;
        height: auto;
    }
} */
