.createClassForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; */
    margin: 40px;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    color: #9C0D63;
    font-size: 16px;
}

.createClassForm h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    color: #9C0D63;
}

.createClassForm label {
    margin-bottom: 10px;
    /* gap: 10px; */
    font-family: 'Lato', sans-serif;
    padding: 6px;
}

/* .createClassForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin: 15px
} */

.createClassForm input,
.createClassForm textarea {
    margin-left: 5px;
    padding: 5px;
    /* place-items: center;
    height: fit-content; */
    width: 95%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.createClassForm textarea {
    height: 8vh;
}

.createClassModalButtons {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    /* place-items: center; */
    /* width: 75% */
}

.createClassForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #9C0D63;
    border-color: #9C0D63;
    color: white;
    font-size: medium;
    transition: transform 0.3 ease;
    border-radius: 3px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.createClassForm button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px gray;
}

p.errors {
    color: red;
    margin-top: 0px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

.createClassForm img {
    width: 100%;
    height: 10vh;
}
