.createClassForm {
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */
    margin: 40px;
    padding: 20px 60px;
    font-family: 'Lato', sans-serif;
}

.createClassForm h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.createClassForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    margin: 10px
}

.createClassForm label {
    margin-bottom: 15px;
    place-items: center;
    height: fit-content;
    width: max-content
}

.createClassForm input,
textarea {
    margin-left: 5px;
    padding: 5px;
    place-items: center;
    height: fit-content;
    width: max-content
}

.createClassForm button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    margin: 10px;
    background-color: #9C0D63;
    border-color: #9C0D63;
    color: white;
    font-size: medium;
    transition: transform 0.3 ease;
    border-radius: 3px;
}

.createClassForm button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px gray;
}

p.errors {
    color: red
}
