.teacherLessonLink img {
    height: 100px;
    width: 100px;
    padding-right: 15px;
    padding-top: 5px;
}

.teacherLessonLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
}

/* .teacherLessonTile {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.teacherLessonLink:hover {
    border: 2px solid #9C0D63;
}

.fa-solid.fa-ellipsis-vertical {
    font-size: large;
}
