.manageLessonsHeader {
    font-family: 'Lato', sans-serif;
    margin: 20px 35px;
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    justify-content: space-between;
}

button {
    border: none;
}

button.addLessonButton {
    background-color: #9C0D63;
    border-color: #9C0D63;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    transition: transform 0.3 ease;
    box-shadow: none;
}

button .createLessonLink {
    text-decoration: none;
    color: white;
    background-color: #9C0D63;
    border-color: #9C0D63;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    transition: transform 0.3 ease;
    font-size: 18px;
}

button.addLessonButton:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 2px gray;
}

.teacherLessons {
    font-family: 'Lato', sans-serif;
    margin: auto 25px
}

.teacherLessonLink img {
    height: 100px;
    width: 100px;
    padding-right: 15px;
    padding-top: 5px;
}

.teacherLessonLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    background-color: rgb(250, 248, 246)
}

/* .teacherLessonTile {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.teacherLessonLink:hover {
    border: 2px solid #9C0D63;
}

.fa-solid.fa-ellipsis-vertical {
    font-size: large;
}

li {
    list-style: none;
    padding-bottom: 5px;
}


@media only screen and (max-width: 350px) {
    .classesAssignedTo {
        visibility: hidden;
    }

    ul {
        visibility: collapse;
        margin-bottom: 0;
    }

    a.teacherLessonLink {
        display: flex;
        flex-flow: row wrap;
        height: 30vh;
    }

    a.createLessonLink {
        font-size: 14px;
        padding: 0px;
    }
}
