.lessonTileLink img {
    height: 150px;
    width: 150px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}

.lessonTileLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    /* font-weight: bold; */
    box-shadow: 2px 2px 2px gray;
}

.allLessonsContainer h3 {
    padding-left: 10px;
}

/* .lessonTile {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
} */

/* .lessonTitle {
    font-weight: bold;
} */

.lessonTileLink:hover {
    border: 2px solid #9C0D63;
}

.splashPageLeftSide {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 10px;
}



.splashPageRightSide {
    position: relative;
}

.userClasses,
.userLessons {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.userClasses:hover,
.userLessons:hover {
    text-decoration: underline;
    font-weight: 500;
}

.splashPageContainer {
    display: grid;
    grid-template-columns: 20% 80%;
}
