.lessonTileLink img,
.assignmentTileLink img {
    height: 150px;
    width: 150px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
}

.lessonTileLink,
.assignmentTileLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 5px;
    /* font-weight: bold; */
    box-shadow: 2px 2px 2px gray;
    height: 250px;
    overflow-y: auto;
    background-color: rgb(250, 248, 246)
}

h4.lessonTitle,
h4.assignmentTitle {
    margin-left: 0px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tabs button {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: large;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.tabs button.active {
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: none;
    border-color: #9C0D63;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* background-color: rgb(250, 246, 246); */
}

/* .lessonTile {
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
} */

/* .lessonTitle {
    font-weight: bold;
} */

.lessonTileLink:hover,
.assignmentTileLink:hover {
    border: 2px solid #9C0D63;
}

.splashPageLeftSide {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 10px;
    margin-top: 60px;
}

.yourStuff {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.splashPageRightSide {
    position: relative;
}

.userClasses,
.userLessons,
.userAssignments {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: large;
    transition: transform 0.3s ease;
}

.userClasses:hover,
.userLessons:hover,
.userAssignments:hover {
    text-decoration: underline;
    font-weight: 500;
    color: #9C0D63;
}

.splashPageContainer {
    display: grid;
    grid-template-columns: 18% 80%;
    margin-right: 20px;
    margin-left: 20px;
}

.noUserDiv {
    margin: 50px 20px;
    display: flex;
    flex-flow: row;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 40px;
    justify-content: space-around;
}

.noUserDiv h2 {
    width: 200px;
    position: relative;
    color: rgb(55, 55, 55);
    /* color: #3278C8 */
}

.noUserDiv img {
    height: auto;
    width: 600px;
}

.noUserDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noUserButton button {
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    border-radius: 40px;
    padding: 15px;
    border-color: #9C0D63;
    background-color: #9C0D63;
    color: white;
    font-family: 'Lato', sans-serif;
    transition: transform 0.3s ease;
}

.noUserButton button:hover {
    cursor: pointer;
    transform: scale(1.1);

}

@media only screen and (max-width: 650px) {

    .yourStuff,
    .userClasses,
    .userLessons,
    .userAssignments {
        font-size: small;
    }

    .tabs button {
        font-size: small;
        padding: 5px;
    }

    .lessonTileLink img,
    .assignmentTileLink img {
        height: 50px;
        width: 50px;
    }

    .lessonTileLink,
    .assignmentTileLink {
        font-size: small;
    }

    .splashPageContainer {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .lessonTileInfo {
        height: 200px;
    }

    .noUserDiv {
        flex-flow: row wrap;
    }

    .noUserButton button {
        font-size: large;
    }
}

@media only screen and (max-width: 1000px) {
    .noUserDiv img {
        height: 500px;
        width: 500px;
    }

    .noUserDiv h2 {
        font-size: 40px
    }
}

@media only screen and (max-width: 400px) {
    .noUserDiv img {
        height: 200px;
        width: 200px;
    }

    .noUserDiv h2 {
        font-size: large;
    }

    .noUserButton button {
        font-size: small;
    }

}
