.classDetailsHeading img {
    width: 300px;
    height: 200px;
    padding-right: 15px;
}

.classDetailsHeading {
    margin: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
}

.classNameRoster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    place-items: center;
}

.classRoster {
    font-family: 'Lato', sans-serif;
}

.classImageDesc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: medium;
    /* margin: auto 10px */
}

.lessonDropDownList,
.selectedLesson,
.assignmentDropDownList,
.selectedAssignment {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

.lessonOption,
.lessonDropDownList label,
.assignmentOption,
.assignmentDropDownList label {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.lessonLink,
.assignmentLink,
.fa-solid.fa-arrow-right {
    text-decoration: none;
    color: #9c0d639a;
    cursor: pointer;
    font-size: 18px;
}

.lessonLink:hover,
.assignmentLink:hover,
.fa-solid.fa-arrow-right:hover {
    color: #9C0D63;
}

select:focus {
    outline: none;
    border: 2px solid #9C0D63;
    border-radius: 2px;
}

select {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    margin-left: 5px;
}
