.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px
}

.profile-dropdown {
    position: absolute;
    list-style-type: none;
    left: 90%
}

.homeButton {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.homeButton:hover {
    color: rgb(119, 119, 119)
}

.searchBar {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    /* padding: 8px; */
}

.searchBarInput {
    width: 100%;
    font-size: large;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid lightgray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 200;
}

.searchBarInput:hover {
    border: 2px solid #9C0D63;
}

.searchBarInput:focus {
    border: 4px solid #9C0D63;
    outline: none;
}

.searchIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 50%;
    /* background-color: lightgray; */
    transform: translateY(-50%);
    /* fill: lightgray; */
    transition: transform 0.3s ease;
    overflow: hidden;
}

.searchIcon:hover {
    background-color: rgb(235, 235, 235);
    height: 80%;
    width: 20%
}

.magnifyingGlass {
    text-decoration: none;
    padding: 8px;
    color: gray;
}

.fas.fa-search {
    font-size: 20px;
}

.signUpButton {
    /* color: black; */
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.signUpButton .modalButton {
    color: rgb(55, 55, 55)
}

.modalButton {
    background-color: transparent;
    border: transparent;
    /* color: black; */
    padding: 2px;
    margin: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.signUpButton:hover {
    border: 2px solid #9C0D63;
}

.signInLink .modalButton {
    border: none;
    background-color: white;
    text-decoration: underline;
    color: rgb(55, 55, 55)
}

.signInLink .modalButton:hover {
    text-decoration: none;
    color: black;
}

.orWord {
    margin-left: 15px;
    margin-right: 8px;
    font-family: 'Roboto', sans-serif;
    color: rgb(94, 94, 94)
}

.worldGlobe {
    margin-left: 15px;
    font-size: large;
    border: none;
    background-color: white;
    color: rgb(85, 85, 85);
    padding: 6px
}

.worldGlobe:hover {
    color: black;
    background-color: rgb(231, 231, 231);
    border-radius: 100%;
}

.profileNameButton {
    border: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(55, 55, 55)
}

.fas.fa-caret-down {
    margin-left: 5px;
    font-size: 20px;
}
