.profile-dropdown {
    position: absolute;
}

ul {
    list-style: none;
}

.homeButton {
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 20px;
}

.homeButton:hover {
    color: rgb(119, 119, 119)
}
